/* FONts */

@font-face {
      font-family: 'Trebuchet-MS-titles';
      font-style: normal;
      font-weight: bold;
      src: url(fonts/Trebuchet-MS-Bold.ttf) format('truetype');
   }

@font-face {
   font-family: 'Trebuchet-MS';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/Trebuchet-MS.ttf) format('truetype');
}



@font-face {
   font-family: 'Trebuchet-MS';
   font-style: italic;
   font-weight: 700;
   src: url(fonts/Trebuchet-MS-Bold-Italic.ttf) format('truetype');
}

@font-face {
   font-family: 'Trebuchet-MS';
   font-style: italic;
   font-weight: 400;
   src: url(fonts/Trebuchet-MS-Italic.ttf) format('truetype');
}



@font-face {
      font-family: 'test-Belgates';
      font-style: normal;
      font-weight: 400;
      src: url(fonts/Belgates.ttf) format('truetype');
   }


